<h1>Ma todo list</h1>
<ul >
  <li *ngFor="let item of todolist.items">
    <p>
      {{item.name}}<br>
      {{item.content}}<br>
      {{item.creationDate}}<br>
      <button (click)="delItem(item.id)">supprimer Item</button>
    </p>
  </li>
</ul>
<h1>new Item</h1>
<div *ngIf="errors.length > 0" id="errors">
  <ul>
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <button id="valider" type="submit">Submit</button>
</form>

