<h1>registration</h1>
<div *ngIf="errors.length > 0" id="errors">
  <ul>
    <li *ngFor="let error of errors">{{ error }}</li>
  </ul>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <button id="valider" type="submit">Submit</button>
</form>




